PyPDF2
python-docx
openpyxl
pandas
beautifulsoup4
nltk
streamlit
transformers
pyngrok
SpeechRecognition
gTTS
langdetect
pytesseract
youtube-transcript-api
textblob
vaderSentiment
spacy
seaborn
Pillow
